<div class="row">
  <div class="col-4">
    <select
      class="form-select"
      aria-label="Default select example"
      name="selectInput"
      [(ngModel)]="params.filter.ingredients"
      (change)="getCakes()"
    >
      <option value="" selected>All</option>
      <option *ngFor="let item of ingredients" value="{{ item }}">
        {{ item }}
      </option>
    </select>
  </div>

  <div class="col-2">
    <button class="btn btn-primary" (click)="toggleDirection()">
      Sort Direction (name)
    </button>
  </div>
</div>
<div class="row">
  <div *ngFor="let item of cakes" class="col-4">
    <app-cake-item [cake]="item"></app-cake-item>
  </div>
</div>
